<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WardrobeAddons_NewMod.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <WardrobeAddons_NewMod.Properties.Settings>
            <setting name="Addons" serializeAs="String">
                <value>F:\Users\Silver\Documents\GitHub\Starbound-Wardrobe-Addons</value>
            </setting>
            <setting name="Mods" serializeAs="String">
                <value>F:\Steam\steamapps\common\Starbound\mods</value>
            </setting>
        </WardrobeAddons_NewMod.Properties.Settings>
    </userSettings>
</configuration>